.opener {
  background-color: #354047;
  height: 80vh;
  padding-top: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 50vw;
  margin: 0.4%
}

.logo {
  width: 15vw;
  border-radius: 0.3%;
  margin: 0.5%;
}

/* img {
  width: auto;
}

header {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 17vh;
} */

/* #logo {
  border-radius: 10px;
  margin: 5px;
  width: 200px;
}

#headerText {
  margin: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

#description {
  margin: 5px;
}

#pAddress {
  margin: 5px;
} */
